// cols
@use "./libs/cols";



// Libs
/* @import './libs/fancybox'; */
@use './libs/swiper';


// base
@use "./base/reset";
@use "./base/global";
@use "./base/root";
@use "./base/fonts";
@use "./base/button";
@use "./base/rating";
@use "./base/pagination";
@use "./base/breadcrumbs";


//components

// section
@use "./section/header";
@use "./section/hero";
@use "./section/partners";
@use "./section/garden";
@use "./section/collection";
@use "./section/services";
@use "./section/education";
@use "./section/testimonials";
@use "./section/advertising";
@use "./section/dream";
@use "./section/workflow";
@use "./section/portfolio";
@use "./section/ours";
@use "./section/acardion";
@use "./section/reverse";
@use "./section/catalogs";
@use "./section/blogs";
@use "./section/single";
@use "./section/flexible-blog-product";
@use "./section/footer";


//woo
/* cataglpg */
@use "./section/categories";
@use "./section/wishlist";
@use "./section/fillter";


/* product */
@use "./section/product";



/* acaunt */
@use "./section/acaunt";




/* form */

/* =========================
   WRAPPER
========================= */
.product__attributes {
    margin-bottom: 20px;
}

/* =========================
   TITLE
========================= */
.product__attributes-title {
    font-weight: 600;
    margin-bottom: 8px;
}

/* =========================
   TABS (pa_size)
========================= */
.product__tabs {
    display: flex;
    gap: 10px;
}

.product__tabs-item {
    padding: 8px 14px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f7f7f7;
    transition: 0.2s;
}

.product__tabs-item.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

/* =========================
   RADIO (pa_care)
========================= */
.product__radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* =========================
   SELECT (pa_light)
========================= */
.product__select select {
    padding: 8px;
    border: 1px solid #000000;
    width: 200px;

}




.variations__select {
    display: none !important;
}



/* form  end*/