.breadcrumbs {
  font-size: 14px;
  line-height: 1.5;
  padding: 20px 0;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    
  }

  &__link {
    font-family: "Roboto", Arial, sans-serif;
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;

    &:hover {
      color: var(--gren);
    }
  }

  &__separator {
    color: #666;
    font-size: 21px;
    font-weight: 300;
    line-height: 1;
    user-select: none;
    position: relative;
    top: -1px;
  }

  &__current {
    color: #333;
    font-weight: 500;
    position: relative;
    top: -1px;
  }
}
