.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &__star {
        width: 18px;
        height: 19px;
        fill: #CFCFCF;
        cursor: pointer;
        transition: fill 0.3s;

        &:not(:last-child) {
            margin-right: 3px;
        }

        &.active,
        &.active~*,
        &:hover,
        &:hover~* {
            fill: #F2C94C;
        }
    }




}