:root {
  --body: #16303d;
  --white: rgba(255, 255, 255, 1);
  --gren: #527a4f;
  --lightgreen: rgba(235, 246, 234, 1);
  --series: rgba(255, 255, 255, 0.4);
  --orange: #F48E40;
  --black: #000;
}
/* var(--body); */
