@use "../base/vars" as *;


.blogs {
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 1;
        transition: all 0.5s;

        &:hover {
            opacity: 0.4;
            transition: all 0.5s;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        transition: all 0.5s;
    }

    .education__inner:has(.education__content-btn:hover) {
        @extend %animation;

    }


    .icon-arrow {
        width: 12px;
        height: 12px;

    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5px;
    }

    &__data {
        font-size: 13px;
        @extend %g-300;
        line-height: 1.4em;
        color: var(--body);
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
    }

    &__label {
        font-size: 13px;
        color: var(--black);
        padding: 4px 10px;
        border-radius: 100px;
        background: var(--lightgreen);
    }

    &__sub-title {
        font-size: clamp(1.8rem, 2vw, 2rem);
        line-height: 1.2em;
        text-align: start !important;
    }

    &__text {
        padding: 16px 0;
    }

    .icon-arrow {
        stroke: var(--gren);
    }

    &__content-btn {
        width: 114px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        transition: all 0.5s;

        &:hover {
            span {

                color: var(--gren);
            }
        }


    }


    .text {
        transition: all 0.5s;
    }

    &__image {
        img {
            border-radius: 20px;
            max-width: 100%;
            width: 100%;
        }

    }

    &__sub-text {
        padding: 15px 0;
        font-size: 1.4rem;
    }

    &__inner:hover {
        background: transparent;
        @extend %animation;
        box-shadow: none;

        .icon-arrow {
            stroke: var(--gren);
            ;
        }

        .btn-text {
            color: var(--gren);

            transition: all 0.5s;
        }

    }



    @media(max-width:575.99px) {
        &__wrapper {
            flex-direction: column;
            gap: 40px 0;
        }

        .title {
            text-align: center;
        }

    }

}




.blogstop {
    background: var(--lightgreen);
    padding: 40px;


    &__inner {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
        background: var(--white);
        padding: 24px;
        border-radius: 24px;
    }

    .title {
        text-align: center;
        padding: 0px 0px 40px 0px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 20px 50px;
        background: var(--white);
        border-radius: 24px;
        transition: all 0.5s;
    }

    &__content {
        max-width: 380px;
        padding-top: 20px;
    }

    &__subtitle {
        font-size: clamp(1.8rem, 3vw, 2.4rem);
        @extend %g-700;
    }

    &__text {
        padding: 16px 0px 24px 0px;
        color: rgba(22, 48, 61, 1);
    }

    .btn {
        display: inline-block;
        font-size: 16px;
    }


    &__image {
        border-radius: 24px;
        object-fit: cover;
        border: 24px;
        width: 100%;
        object-position: top;

    }

    &__wrapper-box {
        padding-top: 20px;
    }

    .btn-green {
        max-width: 190px;
        display: flex;
        justify-content: center;

        &:hover {
            background: var(--gren);
            color: var(--white);
            opacity: 0.5;

        }
    }

    .services__wrapper:has(.services__link:hover) {
        @extend %animation;
    }


    @media(max-width:1199px) {
        .title {
            padding-top: 0;
        }

        &__wrapper {
            padding-left: 20px;
        }

        &__content {
            padding-top: 24px;
            max-width: 100%;
            padding-bottom: clamp(2.4rem, 2vw, 5rem);
        }
    }

    @media(max-width:576px) {
        .btn {
            display: block;
            text-align: center;
        }
    }
}