@use "../base/vars" as *;

.categories-top {
    background: var(--lightgreen);
    padding: clamp(20px, 2vw, 70px);

    h1 {
        margin: 16px 0px;
    }

    .breadcrumbs {
        padding: 0;
    }

    &__text {
        max-width: 920px;
        font-size: 1.4rem;
        line-height: 1.4em;
        letter-spacing: -0.02em;
    }

    &__link {
        font-size: 1.4rem;
        color: var(--gren);
        text-decoration: underline;

    }
}


.categories, .related { 
    position: relative;
    z-index: 1;
    padding-bottom: clamp(60px, 2vw, 88px);


    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__inner {
        --bs-gutter-x: clamp(0px, 2vw, 40px);
    }

    &__items {
        --bs-gutter-y: clamp(10px, 2vw, 20px);
        --bs-gutter-x: clamp(0px, 2vw, 20px);

    }

    &__item {
        display: flex;
        align-items: stretch;

    }


    &__item-box {
        position: relative;
        border: 2px solid #dfdddd;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        padding: 12px 5px;
    }

    /* box прайс */
    &__item-inner {
        padding: 15px;
        height: 100%;


        display: flex;
        flex-direction: column;
        flex: 1;
    }

    /*  prace  конейнер*/
    &__wrapper-content {
        padding-top: 10px;
        margin-top: auto;


    }

    &__contnet {
        display: flex;
        align-items: center;
        gap: 6px;
        margin: 10px 0;

    }

    &__desc {
        font-size: 14px;
        color: #8c8787;
    }

    &__count-box {
        display: flex;
        align-items: center;
    }

    .woocommerce-result-count {
        margin: 0;

    }

    .woocommerce-notices-wrapper {
        position: absolute;
    }


    /* categories wisthList*/

    /* котнейнер */
    .tinvwl-woocommerce_before_shop_loop_item {
        position: absolute;
        background: var(--white);
        z-index: 1;
        top: 5%;
        left: 5%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ссылка */
    .tinvwl-position-shortcode {
        width: 40px !important;
        height: 40px !important;
        position: unset !important;
    }

    /* Неактивное сердечко */
    .tinvwl-icon-heart.no-txt:before {
        background-image: url('../img/png/hard-cart.png');
        content: '' !important;
        top: 38%;
        left: 23%;
        width: 20px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.5s;
        position: relative;
    }


    /* При наведении на неактивное сердечко */
    .tinvwl-icon-heart.no-txt:hover:before {
        background-image: url('../img/png/heart-red.png');
        width: 20px;
        height: 30px;
        transition: all 0.5s;
    }

    /* Активное сердечко (когда в списке wishlist) */
    .tinvwl-icon-heart.no-txt.tinvwl-product-in-list:before {
        content: '' !important;
        background-image: url('../img/png/heart-red.png') !important;
        width: 20px;
        height: 30px;
        transition: all 0.5s;
    }

    .categories__item .tinvwl-position-after {
        color: black !important;
        transition: all 0.5s;

        &:hover {
            color: red !important;
            transition: all 0.5s;
        }
    }

    .categories__cart img {
        border-radius: 16px;
        width: 100%;
    }

    .categories__cart img .categories__wishlist {
        display: flex;
    }



    /* лейбел акциия */
    .onsale {
        z-index: 1 !important;
        background: var(--gren) !important;
        border-radius: 20% !important;
        left: unset !important;
        right: 5%;
        top: 4% !important;
        padding: 8px !important;
        font-size: 10px !important;
    }

    .review-count,
    .review-content {
        font-size: 16px;
        @extend %i-500;
    }

    &__name {
        font-size: 18px;
        line-height: 1.2em;
        @extend %g-700;
        padding-bottom: 10px;
    }



    .price {
        display: flex;
        justify-content: start;
        flex-direction: row-reverse;
        gap: 5px;
        align-items: center;
    }

    .price ins {
        text-decoration: none !important;

    }

    .price .woocommerce-Price-amount {
        font-size: 20px;
        @extend %g-700;
    }

    .price del .woocommerce-Price-amount {
        font-size: 12px !important;
    }


    /* btn */
    &__link {
        display: block;
        margin-top: 10px;
        padding: 10px 0px;

        border-radius: 20px;
        text-align: center;
        font-size: 18px;
        position: relative;


        &::after {
            content: '';
            background-image: url('../img/svg/cart-item.svg');
            width: 24px;
            height: 24px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            top: 20%;
        }

        span {
            color: var(--white);
            padding-right: 6px;
        }

    }

    @media(max-width:500px) {
        .categories__contnet {
            gap: 20px;
        }

        .categories__link::after {
            width: 20px;
            height: 20px;
        }

        .categories__item-inner {
            padding: 10px;
        }

        .review-content {
            display: none;
        }

        .price .woocommerce-Price-amount {
            font-size: 17px;
        }

        .categories__name {
            font-size: 16px;
        }

        .categories__desc {
            font-size: 13px;
        }

        .onsale {
            font-size: 8px !important;
        }

        .tinvwl-position-shortcode {
            width: 35px !important;
            height: 35px !important;
            position: unset !important;
        }

        .fillter__btn-clouse {
            padding: 8px 20px;
            margin-right: 10px;
        }

        .sidebar .bapf_button {
            padding: 8px 20px !important;
        }
    }

}