.hero {

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 22px 0;
  }

  &__wrapper {
    padding-top: clamp(0px, 2vw, 60px);
  }

  &__title {
    max-width: 520px;
  }

  &__text {
    padding: 24px 0px;
  }

  &__basket {
    fill: transparent;
    stroke: var(--gren);
  }

  svg {
    width: 24px;
    height: 24px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__content {
    padding-top: 24px;
    display: flex;
    gap: 0 10px;
    font-size: 16px;
  }










.swiper {
  width: 100%;
  height: 685px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


.swiper-wrapper {
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  font-size: 20px;
  user-select: none;
  img{
   max-width: 100%;
   object-fit: cover;
  }
}


.swiper-pagination {
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
  z-index: 10;
  padding: 0 40px;
}



.swiper-scrollbar-drag {
  height: 100%;

  background: var(--white);
  border-radius: 2px;
}


.swiper-pagination-bullet {
  width: 30%;
  border-radius: 0;
  background: transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  opacity: 0.3;
  height: 6px;
}


.swiper-pagination-bullet-active {
  background: var(--white);
  opacity: 1;
}



@media(max-width:991.99px) {
  .swiper {
    height: 550px;
  }
}


@media(max-width:576px) {
  .hero{
    &__shop-link{
      width: 50%;
      display: block;
      text-align: center;
    }
  }
  .swiper {
    height: 350px;
  }
}
}


















