.partners {

    &__wrapper {
        padding: 24px 0px;
        margin-left: -120px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px 10px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 10px;
    }







    .swiper {

        width: 100%;
        height: 88px;
        margin: 20px 0;
        position: relative;

    }

    .partners__image-slide {
        max-width: 100%;
    }

    .swiper-wrapper {
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }


    .swiper-slide {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;

        user-select: none;
    }


    .swiper-pagination {
        position: absolute;
        text-align: center;
        bottom: 10px;
        width: 100%;
        z-index: 10;
    }


    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
    }


    .swiper-button-prev {
        left: 10px;
        background-image: url('data:image/svg+xml;base64,...');
    }


    .swiper-button-next {
        right: 10px;
        background-image: url('data:image/svg+xml;base64,...');
    }


    .swiper-scrollbar {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 50;
        height: 4px;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
    }


    .swiper-scrollbar-drag {
        height: 100%;
        background: #007aff;
        border-radius: 2px;
    }




    .last-visible,
    .swiper-slide-active {
        opacity: 0.4;

    }


    @media (max-width:991.99px) {
        .partners__image-slide {
            width: 110px;
        }
    }

    @media (max-width:767.99px) {

        &__wrapper {
            margin-left: -50px;
        }

        &__inner {
            flex-direction: column;
        }
    }

}

