@use "../base/vars" as *;






.portfolio {
    .title {
        margin-bottom: 40px;
    }

    @media(max-width:1440px) {
        & {
            overflow: hidden;
        }

    }

    @media(max-width:668px) {
        & {
            .title {
                text-align: center;
            }
        }

    }

    .swiper-button-next:after,
    .swiper-button-prev:after {

        display: none !important;
    }

    .swiper-button-next .icon-arrow {
        transform: rotate(0deg) !important;
    }

    .swiper-button-prev .icon-arrow {
        transform: rotate(180deg) !important;
    }
    &__slider-link{
        display: flex;
        gap: 8px;
    }
}





.swiper-portfolio {
    position: relative !important;
    padding: 3.2rem;
    color: #fff;
    padding: 0;
    overflow: hidden;


    .swiper-slide {
        display: flex;
        border-radius: 16px;
        gap: 8px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../img/png/portfolio-icon.png');
            background-repeat: no-repeat;
            background-size: contain;
            /* чтобы картинка не обрезалась */
            width: 88px;
            height: 50px;
            cursor: pointer;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--gren);
    }

    img {
        border-radius: 2.4rem;
        ;
        width: 50%;
        border-radius: 16px;
        height: 416px;
        object-fit: cover;
    }

    .swiper-name {
        color: var(--dark);
        text-align: center;
        margin-top: 0.8rem;
        margin-bottom: 1.2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 2.2rem;
        right: 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--ngreen);
        display: flex;
        top: 0;
    }

    .swiper-button-next {

        right: 0px;
        top: 0;
        z-index: 1;
    }

    .swiper-wrapper {
        padding-bottom: 10px;
    }


    .swiper-button-prev {
        left: unset !important;
        top: 2.2rem;
        right: 6rem;
        top: 0;
        z-index: 1;

        .look-svg {
            transform: rotate(180deg);
        }
    }

    .swiper-navigation-icon {
        width: 20px;
        height: 20px;
    }


    .look-svg {
        width: 20px;
        height: 20px;
        fill: transparent;
        stroke: var(--white);
    }

    .swiper-button-disabled {
        background: var(--ngreen);

        .look-svg {
            stroke: var(--ltgreen);
        }
    }

    .swiper-pagination {
        text-align: start;
        display: inline;
    }

    .swiper-slide__wrapper {
        position: relative;
        margin-top: 4rem;
        margin-bottom: 8rem;
    }


    @media(max-width:1440px) {
        & {
            overflow: visible;
        }



    }



    @media(max-width:998px) {
        & {

            .swiper-button-prev {
                right: 5rem;
            }

            .swiper-button-next,
            .swiper-button-prev {
                width: 44px;
                height: 44px;
            }


        }
    }



    @media(max-width:668px) {
        & {
            overflow: unset;

            img {
                width: 50%;
                border-radius: 16px;
                height: 304px;
            }


            .wrapper {
                margin-bottom: 2.4rem;
            }

            .swiper-slide {

                &::after {
                    content: '';
                    width: 64px;
                    height: 36px;
                }
            }

            .swiper-slide__wrapper {
                margin-bottom: 6rem;
                margin-top: 2.4rem;
            }

            .swiper-pagination {
                top: 0;
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 60%;
            }
        }

    }

}