@use "../base/vars" as *;


.reverse {
    &__inner {
        padding: clamp(24px, 4vw, 60px) clamp(16px, 4vw, 60px);

        background: var(--lightgreen);
        border-radius: 40px;

    }

    .title {
        text-align: center;
        font-size: clamp(2.8rem, 3vw, 4rem);
    }

    &__wrapper {
        padding-top: 40px;
        display: flex;
        justify-content: center
    }

    &__form {
        gap: 16px;
        max-width: 642px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__box {
        display: flex;
        gap: 16px 16px;

    }

    &__label {
        padding: 12px;
        background: var(--white);
        width: 100%;
    }

    &__textarea {
        width: 100%;
        resize: none;
        height: 100px;
        cursor: pointer;


    }

    &__btn {
        width: 220px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--gren);
        }
    }

    input {
        cursor: pointer;
    }

    &__text {
        text-align: center;
    }

    @media(max-width:576px) {
        &__box {
            flex-wrap: wrap;

        }
    }

}