@use "../base/vars" as *;

.workflow {
    padding-top: clamp(20px, 2vw, 88px);

    &__title {
        max-width: 920px;
        font-size: clamp(3.2rem, 3vw, 4rem);
    }



    &__inner {
        margin: 0 auto;

        --bs-gutter-x: 16px;
        --bs-gutter-y: clamp(16px, 3vw, 40px);

    }

    &__wrapper-box {
        display: flex;
        align-items: center;
        gap: 0px 10px;
    }

    &__wrapper {
        border: 1px solid rgba(244, 244, 244, 1);
        border-radius: 25px;
        padding: clamp(16px, 2vw, 20px);

    }

    &__nuber {
        color: var(--gren);
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    &__image {
        width: 24px;
        height: 24px;
    }

    &__sub-title,
    &__nuber {
        font-size: 2rem;
        padding: 15px 0px 10px 0;
        @extend %g-500;
        line-height: 1.2em;


    }

    &__content {

        font-size: 1.4rem
    }

    @media(max-width:767.99px) {
        .workflow__inner .col-12 {
            margin-top: 8px;
        }

        &__content {
            max-width: 100%;
        }

        &__box {
            max-width: 100%;
        }
        &__title{
            text-align: center;
        }

    }
}