@use "../base/vars" as *;


.collection {
    &__wrapper {
        position: relative;
    }

    &__general {
        max-width: 100%;
        border-radius: 24px;
        min-height: 364px;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        width: 100%;
        padding: 0px 20p;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .title {
        text-align: center;
        font-size: clamp(2rem, 3vw, 4.2rem);
    }

    .btn-green {
        margin-top: 20px;
        max-width: 216px;
        line-height: 1.2em;

        font-size: clamp(1.4rem, 3vw, 1.6rem);
    }

    &__inner {
        padding-top: 15px;
    }

    &__link {
        display: block;
        position: relative;
        @extend %animation;
        border-radius: 20px;

        .arrow-btn {
            transform: rotate(0deg);
        }

        &:hover {
            border-radius: 20px;

            .collection__name {
                color: var(--black);

            }

            .arrow-btn {
                background: var(--lightgreen);
            }

            .icon-arrow {

                stroke: var(--body);
                transition: all 0.5s;

            }
        }
    }

    &__image {
        max-width: 100%;
        min-height: 270px;
        object-fit: cover;
        border-radius: 24px;
    }

    &__name {
        font-size: 2rem;
        @extend %g-700;
        position: absolute;
        color: var(--white);
        line-height: 1.2em;
        bottom: 17%;
        left: 6%;
    }

    .arrow-btn {
        position: absolute;
        bottom: 12%;
        right: 6%;
    }

    &__label {
        font-size: 1.4rem;
        padding: 4px 10px;
        color: var(--black);
        border-radius: 100px;
        background: var(--white);
        position: absolute;
        top: 8%;
        left: 6%;
        z-index: 1;
        width: 110px;
        text-align: center;
    }

    &__inner {
        gap: 15px 0px;
    }

    @media(max-width:576px) {
        .title {
            max-width: 230px;
        }
    }
}