  .catalog__category {
    transition: all 0.5s;



    a {

      &:hover {
        color: var(--gren);
        transition: all 0.5s;

        .menu__arrow {
          transition: all 0.5s;
          border-right: 2px solid var(--gren);
          border-bottom: 2px solid var(--gren);
        }
      }
    }







    .menu__item.active>.menu__item-link .menu__arrow {
      opacity: 1;
      visibility: visible;
    }







    /* lvl-1 */
    .catalog__category-one {
      display: flex;
      flex-direction: column;
      gap: 10px 0;

      .menu__item {
        padding-right: 20px;

        &.active {
          &:hover {
            ul {
              border-left: 1px solid var(--gren);
              transition: all 0.5s;
            }
          }
        }
      }



      a {
        gap: 20px;
      }

      .menu__box-lvl-1 {
        display: flex;
        align-items: center;
        max-width: 160px;
        gap: 10px;
      }

      .menu__item-name {
        width: 80px;
      }

    }




    /* lvl-2 -- lvl-3*/
    .catalog__category-two,
    .catalog__category-three {
      transition: all 0.5s;
      width: 100%;
      /* opacity: 0; */

      transition: opacity 0.3s ease, transform 0.3s ease;

      top: 0;
      left: 100%;
      z-index: 10;
      border-bottom: none;
      border-top: none;
      width: max-content;
      border-left: 1px solid var(--gren);


      .menu__item {
        display: flex;
        padding: 3px 20px 3px 20px;
        display: none;

        &.active {
          display: block;
          opacity: 1;
          transform: translateX(0);
        }
      }



      a {
        display: flex;
        flex-wrap: wrap;
        max-width: 160px;
        gap: 10px;
      }

      .menu__item-name {
        width: 140px;
      }

    }

    .menu__item-name {
      line-height: 1.2em;
    }


    .menu__arrow {
      width: 8px;
      height: 8px;

      border-right: 2px solid black;
      border-bottom: 2px solid black;
      transform: rotate(-45deg);
      transition: 0.3s;
    }

    /*   color link */

    .catalog__category {
      .menu__item {
        &.target {
          .menu__item-name {
            color: var(--gren);
            text-decoration: none;
          }

          .menu__arrow {
            border-right: 2px solid var(--gren);
            border-bottom: 2px solid var(--gren);
            text-decoration: none;
          }
        }

      }

    }


    .catalog__category-two .catalog__item,
    .catalog__category-three .catalog__item {
      display: none;
    }

    .catalog__category-two .catalog__item.active,
    .catalog__category-three .catalog__item.active {
      display: block;
    }


    
  .menu__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    flex-wrap: wrap;

    cursor: pointer;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }

  }
